# Tuple and Sets

### Que 1. Write a Python program to add an item in a tuple.

In [1]:
# Solution

# Create a tuple
t = (10,20,30,40,50)
print("The Original tuple :",t) 

# tuples are immutable,we cannot add new element
t = t + (60,)
print("The Resultant Tuple after adding an Item :",t)

The Original tuple : (10, 20, 30, 40, 50)
The Resultant Tuple after adding an Item : (10, 20, 30, 40, 50, 60)

### Que 2. Write a Python program to reverse a tuple.

In [2]:
# Solution

tuples = (7,8,9,4,10,50,1,40)
revTuples = tuples[::-1]
print(revTuples)

(40, 1, 50, 10, 4, 9, 8, 7)

### Que 3. Swap the following two tuples
### tuple1 = (11, 22)
### tuple2 = (99, 88)

In [3]:
# Solution

tup1 = (11,22)
tup2 = (99,88)
tup1,tup2 = tup2,tup1
 
print('tup1 =',tup1)
print('tup2 =',tup2)

tup1 = (99, 88)
tup2 = (11, 22)

### Que 4. Modify the first item (22) of a list inside a following tuple to 222
### tuple1 = (11, [22, 33], 44, 55)

In [4]:
# Solution

tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
print("The new tuple value are:",tuple1)

The new tuple value are: (11, [222, 33], 44, 55)

### Que 5. Write a Python program to unpack a tuple in several variables.

In [5]:
# Solution

t = (40,50,60,70,80)
v,w,x,y,z = t
print("v=",v,"w=",w,"x=",x,"y=",y,"z=",z)

v= 40 w= 50 x= 60 y= 70 z= 80

### Que 6. Write a Python program to add member(s) in an empty set.

In [6]:
# Solution

d = {}
d = set()
d.update({1})
d.add(2)
print(d)

{1, 2}

### Que 7.Write a Python program to create an intersection of sets

In [7]:
# Solution

a = set([4,5])
b = set([7,4])
c = a & b
print("Intersection of a and b sets :",c)

Intersection of a and b sets : {4}

### Que 8. Write a Python program to create a symmetric difference in sets.

In [8]:
# Solution

a = set(["Mtech", "Signal Processing"])
b = set(["Btech", "Signal Processing"])
c = a ^ b
print(c)

{'Mtech', 'Btech'}

### Que 9. Return a set of identical items from a given two Python set
### set1 = [10, 20, 30, 40, 50]
### set2 = [30, 40, 50, 60, 70]

In [9]:
# Solution

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set3 = set1 & set2
print(set3)

{40, 50, 30}

### Que 10. Remove 10, 20, 30 elements from a following set at once
### set1 = {10, 20, 30, 40, 50}

In [10]:
# Solution

set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print("The Updated set is :",set1)

The Updated set is : {40, 50}

### Que 11. Access value 20 from the following tuple
### example = ("Pooja", [10, 20, 30], (25, 50, 15))

In [11]:
# Solution

tup=("Pooja", [10, 20, 30], (25, 50, 15))
tup[1][1]

20

### Que 12. Count the number of occurrences of item 50 from a tuple.
### numbers = (50, 10, 60, 70, 50)

In [12]:
# Solution

tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2