# Lists Solutions:

### Que 1. City = [‘Gurgaon’, ’Mumbai’, ’Bangalore’]
#### i) Print the second item from the list.
#### ii) Change the value from "Gurgaon" to "Kerala"
#### iii) Remove the last element of the list.

In [1]:
# Solution

city = ['Gurgaon', 'Mumbai', 'Bangalore']
print("The Second item in the list is :",city[1])

city [0] = 'Kerala'
print("The new list is :",city)

city.pop()
print("The New list is :",city)

The Second item in the list is : Mumbai
The new list is : ['Kerala', 'Mumbai', 'Bangalore']
The New list is : ['Kerala', 'Mumbai']

### Que 2. Use negative indexing to print the last item in the list. Make a list by yourself.

In [2]:
# Solution

lst=['Swarna','Lata','Shreya','Loney','Jay','Sarojini','Subash']
lst[-1]

'Subash'

### Que 3. Use a range of indexes to print the third, fourth, and fifth item in the list. Make a list by yourself.

In [3]:
# Solution

lst = ['Swarna','Lata','Shreya','Loney','Jay','Sarojini','Subash']
lst[3:7]

['Loney', 'Jay', 'Sarojini', 'Subash']

### Que 4. Remove the last element from the city list

In [4]:
# Solution

city = ['Gurgaon', 'Mumbai', 'Bangalore']
city.pop()
print("The New List is :",city)

The New List is : ['Gurgaon', 'Mumbai']

### Que 5. fruits=[‘apple’,’lichi’,’guava’,’cherry’,’mango’,’watermelon’,’banana’]

 #### i) Add "orange" at the end of the above list.

#### ii) Add "lemon" as the second item in the fruits list

In [5]:
# Solution

fruits = ['apple','lichi','guava','cherry','mango','watermelon','banana']
fruits.append("orange")
print("After adding the new element in the List:\n",fruits)

fruits.insert(2,"lemon")
print("As we have added lemon as second item in the List:\n",fruits)

After adding the new element in the List:
 ['apple', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']
As we have added lemon as second item in the List:
 ['apple', 'lichi', 'lemon', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']

### Que 6. Remove ‘cherry’ from the fruit list given above.

In [6]:
# Solution

fruits = ['apple','lichi','guava','cherry','mango','watermelon','banana']
fruits.remove("cherry")

print("After deleting Cherry from the list the new list will be:\n ",fruits)

After deleting Cherry from the list the new list will be:
  ['apple', 'lichi', 'guava', 'mango', 'watermelon', 'banana']

### Que 7. Write the python program to let the user input a list of numbers and print the list in descending order.

In [7]:
# Solution

lst = []
n = int(input("Enter number of elements : "))
for i in range(0, n):
            ele = int(input("Enter the elements :"))
            lst.append(ele)
            lst.sort(reverse=True)
print("After Descending the new list is:",lst)

Enter number of elements : 5
Enter the elements :5
Enter the elements :8
Enter the elements :4
Enter the elements :9
Enter the elements :7
After Descending the new list is: [9, 8, 7, 5, 4]

### Que 8. Write the python program to let the user input two lists and combine both the lists.

In [8]:
# Solution

l1=[]
l2=[]

n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    l1.append(b)
    
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    l2.append(d)
new = l1 + l2
print("The New List is :",new)

Enter number of elements:4
Enter element:5
Enter element:7
Enter element:8
Enter element:9
Enter number of elements:7
Enter element:55
Enter element:8
Enter element:4
Enter element:66
Enter element:67
Enter element:43
Enter element:31
The New List is : [5, 7, 8, 9, 55, 8, 4, 66, 67, 43, 31]

### Que 9. List = [10, 45, 78, 11, 9, 23]. Shuffle this list.

In [9]:
# Solution

import random

lst = [10,45,78,11,9,23]
random.shuffle(lst)
print("After Shuffled the new list is :",lst)

After Shuffled the new list is : [23, 11, 10, 45, 9, 78]

### Que 10. x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
i) What is the expression that returns the 'z' in 'baz'?

ii) What expression returns the list ['baz', 2.718]?

In [10]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
print(x[1][2][1][-1])
print(x[1][2][1:])

z
['baz', 2.718]

###  Que 11. Extract element 20 from the above list.

In [11]:
print(x[1][1])

20

###  Que 12. You have a list a = [1, 2, 7, 8]
Write a Python statement using slice assignment that will fill in
the missing values so that a equals [1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
a = [1, 2, 7, 8]
b = a[2:]
b
a[2:] = [3,4,5,6]
a
c = a+b
c

[1, 2, 3, 4, 5, 6, 7, 8]